body {
	background-color:	#b3f0ff;
	background-size: cover;
	background-position: fixed;
    
	}

label{
    float:left;
    width:150px;
    text-align: right;
    padding-right: 12px;
    margin-top: 12px;
    clear: left;
    font-weight: bold;
}

fieldset{
     padding: 0 0 20px 0;
     width: 250%;
     font-weight: bold;
}

#legend{
    font-weight: bold;
}


#container{
    margin-left: 500px;
    position: relative;
    top: 150px; 
}

#input{
    margin-top: 12px;
    border: 2px solid;
    width:150px;
    margin-bottom: 12px;
}

#distrValidation{
    width: 15%;
    float: left;
    
}

.ybutton{
	font-size:200%;
	text-transform: uppercase;
	color: white;
	text-shadow: 0.05em 0.05em #e6ac00;
	padding: 0.3em;
	padding-left:1.5em;
	padding-right:1.5em;
	background: linear-gradient(#ffd966, #ffbf00);
	border-color:  #FFD85E;
	border-radius: 0.1em;
}

#submit{
   margin-left: 150px;
    font-size: 14px;
    width: 80px;
    box-shadow: 0 0 2px;
    border-radius: 3px;
    background: linear-gradient(#ffd966, #ffbf00);
}

#reset{
    font-size: 15px;
    width: 80px;
    box-shadow: 0 0 2px;
    background: linear-gradient(#ffd966, #ffbf00);
    border-radius: 3px;
}