<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>A reminiscence tool</title>
	<link rel="stylesheet" href="./CSS/bootstrap.min.css">
	<link rel="stylesheet" href="./CSS/stylesheet.css">
<style>

div#login{
	padding: 5%;
	text-align:center;
}

</style>
</head>
<body>
<div id="banner">
    	<h1>Welcome!</h1>
</div> <!-- banner -->

<div id="navigation">
</div>
    
<div id="main">
	<div id="login">
		<a href="patientLogin.html"><button class="ybutton" href="#">Patient Login</button></a>
		<a href="distributer.html"><button class="ybutton" href="#">Distributor Login</button></a>
	</div>
</div>

<div  id="footer">
</div>

</body>

</html>
